.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #cadcfc;
}

.header-main {
  display: flex;
  gap: 32px;
}

.logo {
  width: 60px;
  height: 32px;
}
